.MenuIcon {
  padding: 15px;
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.16);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;

  &__active {
    background: var(--color-primary);
    box-shadow: 0 3px 10px rgba($color: var(--blue), $alpha: 0.4);
  }

  img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  &:last-of-type {
    margin-top: auto;
    margin-bottom: 0;
  }
}
