.Category {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  &__header {
    color: #fff;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 15px;
      color: #fff;
      border-bottom: 1px solid lightgray;
      cursor: pointer;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-right: 25px;
      }

      p {
        color: #000;
      }

      &__title {
        font-weight: bold;
        width: 250px;
      }

      &__description {
        margin-left: 20px;
      }

      &__price {
        margin-left: auto;
        font-weight: bold;
      }
    }
  }
}
