.AddProduct {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  &__header {
    color: #fff;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    position: relative;
    padding: var(--layout-padding);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;

    &__image {
      display: flex;
      flex-direction: column;

      img {
        width: 300px;
        object-fit: contain;
        margin-bottom: 20px;
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;

      input,
      select {
        margin-top: 10px;
        width: 300px;
        padding: 10px;
        border: 1px solid lightgray;
      }

      button {
        width: 300px;
        padding: 10px;
        background: var(--blue);
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}
