.TableHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--blue);
  padding: 15px;
  min-height: 70px;
  color: #fff;

  img {
    width: 25px;
    margin-right: 25px;
  }
}
