.Content {
  padding: 33px 13px;
  display: flex;
  gap: 13px;
  height: 100%;
  width: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__logout {
    position: absolute;
    inset: 0;

    &__layer {
      position: absolute;
      inset: 0;
      background: rgba($color: #032a44, $alpha: 0.3);
    }

    &__modal {
      z-index: 1;
      position: absolute;
      padding: 35px 40px;
      background: #fff;
      box-shadow: 0 0 20px rgba($color: #032a44, $alpha: 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      bottom: 5vw;
      left: 9vw;
      border-radius: 14px;
      gap: 20px;

      p {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: #707070;
      }

      &__btns {
        display: flex;
        gap: 30px;

        button {
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          border-radius: 140px;
          background: transparent;
          cursor: pointer;
        }

        &__accept {
          color: #0b70b5;
          border: 2px solid #0b70b5;
        }

        &__deny {
          color: #707070;
          border: 2px solid #707070;
        }
      }
    }
  }
}
