.Roles {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  &__header {
    color: #fff;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    position: relative;
    padding: var(--layout-padding);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 70px;

    &__users {
      flex-shrink: 0;
      border: 1px solid lightgray;
      overflow: scroll;

      &__item {
        display: flex;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid lightgray;
        align-items: center;

        &__checkbox {
          width: 18px;
          height: 18px;
          appearance: auto;
        }

        &__firstname {
          width: 100px;
        }

        &__lastname {
          width: 100px;
        }
      }
    }

    &__roles {
      border: 1px solid lightgray;
      overflow: scroll;
      flex-shrink: 0;

      &__item {
        display: flex;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid lightgray;
        align-items: center;

        &__checkbox {
          width: 18px;
          height: 18px;
          appearance: auto;
        }
      }
    }

    &__btn {
      width: 300px;
      padding: 10px;
      background: var(--blue);
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}
