.ProductDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #707070;
  font-size: 15px;

  &__header {
    color: #fff;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
  }

  &__content {
    position: relative;
    padding: var(--layout-padding);
    display: flex;
    flex: 1;

    form {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 100px;
    }

    &__image {
      display: flex;
      flex-direction: column;

      img {
        width: 300px;
        object-fit: contain;
        margin-bottom: 20px;
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;

      input,
      select {
        margin-top: 10px;
        width: 300px;
        padding: 10px;
        border: 1px solid lightgray;
      }

      button {
        width: 300px;
        padding: 10px;
        background: var(--blue);
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }

    &__delete {
      position: absolute;
      right: 50px;
      top: 50px;
      padding: 20px;
      background: lightgray;
      cursor: pointer;
    }
  }
}
