@import 'reset.scss';
@import 'responsive.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'layout.scss';

* {
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  height: 100vh;
  width: 100%;
}
